@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kode Mono", monospace;
}

body {
    display: flex;
    align-items: center;    
    justify-content: center;
    height: 100vh;
    background-color: hsl(180, 100%, 97%);
}

.calculator {
    border: none;
    border-radius: 20px;
    background-color: hsla(0, 0%, 0%, 0.604);
    max-width: 500px;
    overflow: hidden;
}

.display input{
    padding: 30px;
    background-color: hsla(0, 0%, 0%, 0.852);
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    outline: none;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.852);
    color: white;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

.btn {
    width: 100px;
    height: 100px;
    border: none;
    font-size: 3rem;
    background-color: hsla(0, 0%, 0%, 0.852);
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-radius: 50px;
}

.opetator-btn {
    background-color: #ffa600;
}

@media (max-width: 500px) {
    .calculator {
        width: 100%;
        margin: 20px;
    }

    .keys {
        padding: 10px;
    }

    .btn{
        width: 65px;
        height: 65px;
        font-size: 1.5rem;
    }
}